<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DocuSignRoomsSuite" parallel="none">
<test verbose = "2" preserve-order="true" name="DocuSignVerifyRooms">
    <parameter name="driver" value="driver" />
    <classes>
        <class name="com.SeleniumTests.DocuSignRoomsAssignment"/>
    </classes>
</test>
</suite>